/* Main Page */

/* .banner{
height: 150px;
width: 100%;
background-color:rgba(213,65,55,.8);
} */
	
#fasterOne {
font-family: 'Satisfy', cursive;
color: #FFFFFF;
text-align: center;
margin-top: 50px;
font-size: 100px;
padding-top: 20px;
background-color: rgb(213, 65, 55, 0.8);
}


#creteRound{
font-family: 'Crete Round', seri;
text-align:center;
color:white;
font-size:80px; 
  } 

#patuaOne{
font-family: 'Patua One', cursive;
text-align:center;
color:white;
font-size:80px;
width: 100%;

 } 

#fasterOne{
  font-family: 'Satisfy', cursive;
  color:#D84B37;
  color:white; 
  text-align:center;
  font-size:100px; 
  font-weight: bold; 
  margin-top:50px;
  margin-bottom:50px;
 } 

img{
  height:25%;
}

/* Page Display Starts Here */

body {
	margin-top: -50px;
}

h1 {
	text-align: center;
	font-size: 350%;
	margin-bottom: 20px;
	font-family: 'Satisfy', cursive;
	color: #4B4B4B;
	background-color: rgba(213,65,55,.8);
	width: 100%;
	
}

#landing img {
	float: left;
	position: relative;
	width: 70%;
	margin: 0 auto;
}

#details {
	float: left;
	padding: 40px;
	text-align: center;
}

p {
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	padding: 10px;
	font-size: 120%;
}

input {
	margin-bottom: 20px;
	width: 120%;
}

#submit2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	background: #D54317;
	border: solid 2px #D54317;
}

#submit2:hover {
	padding: 5px;
	background: green;
	border-radius: 100px;
	border: solid 10px green;
	font-size: 110%;
}

.signout {
	position: absolute;
	right: 10px;
	top: 0;
}

.signout a {
	text-decoration: none;
	color: black
}

.signout a:hover {
	text-decoration: line-through;
	color: grey;
}

@media only screen and (max-width: 980px) {

	#details {
		padding: 10px;
		margin-top: -20px;
	}

	p {
		font-size: 100%;
	}
}

@media only screen and (max-width: 782px) {
	#landing img {
		width: 100%;
	}

	#details {
		margin-top: 10px;
		margin-left: auto;
	}

	p {
		text-align: left;
		padding: 0;
	}

	#submit2 {
		margin: 0 auto;
	}
}

/* Planner Page Styles */

header {
	text-align: center;
	font-size: 450%;
	font-family: 'Faster One', cursive;
	margin: -20px 50px 50px 50px;
	background-color: #D54317;
	color: rgba(0,0,0,.8);
	padding: 40px 0;
	border-radius: 8px;
}

.jumbotron {
	margin-left: 30px;
	margin-right: 30px;
}

.imageBox {
background-image: url("../images/clouds.jpg");
height: 300;
}

.imageBoxes {
background-image: url("../images/landing-mountains.jpg");
height: 500;
}

.insideBox {
background-color: (255, 255, 255, 0.5);
height: 300;
}

h2 {
font-family: 'Satisfy', cursive;
text-align: center;
color: #4B4B4B;
padding: 40px;

}

#title {
background-color: (75, 75, 75, 0.5);
height: 30;
width: 100%;
}

#title h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 150%;
	font-weight: 700;
	text-align: center;
}

#title p {
	margin-top: 30px;
	text-align: left;
	font-size: 100%;
	line-height: 2em;
	font-weight: 400;
}

#strong {
	font-weight: 700;
}

#advanced-input {
	width: 50%;
	margin: 30px 0;
}

#general-input {
	width: 50%;
	margin: 30px 0;
}

#add-info {
	position: relative;
}

.travelImages {
	border-radius: 7px;
	margin-top: 30px;
}

#result-display {	
	margin-top: 30px;
}

#open-advanced {
	text-decoration: none;
	background: #D54317;
	color:white;
	text-align: center;
	border-radius: 50px;
}

#open-general {
	text-decoration: none;
	background: #D54317;
	color:white;
	text-align: center;
	border-radius: 50px;
}

#weather-display {
	text-align: center;
	position: right;
}

#add-list {
	margin-bottom: 20px;
}


#rating-display  {
background-color: #4B4B4B;
color: #ffffff;
margin-left: 10px;
}